.rotate {
	animation: rotation 1s infinite linear alternate;
}

@keyframes rotation {
	from {
		transform: rotate(-45deg);
	}

	to {
		transform: rotate(45deg);
	}
}

.bg-bass {
	background-image: url("images/bass-2.png");
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.bg-drummer {
	background-image: url("images/drummer-2.png");
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.bg-acoustic-guitar {
	background-image: url("images/acoustic-guitar-2.png");
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.bg-singer {
	background-image: url("images/singer-2.png");
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.bg-electric-guitar {
	background-image: url("images/electric-guitar-2.png");
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.bg-bass>img {
	width: 25%;
	/* border: 5px solid #0f0f10; */
	position: absolute;
	top: -20%;
	left: 42%;
	transform: translate(0, -50%);
}

.bg-drummer>img {
	width: 25%;
	/* border: 5px solid #0f0f10; */
	position: absolute;
	top: 0%;
	left: 40%;
	transform: translate(0, -50%);
}

.bg-acoustic-guitar>img {
	width: 25%;
	/* border: 5px solid #0f0f10; */
	position: absolute;
	top: -25%;
	left: 35%;
	transform: translate(0, -50%);
}

.bg-singer>img {
	width: 25%;
	/* border: 5px solid #0f0f10; */
	position: absolute;
	top: -10%;
	left: 35%;
	transform: translate(0, -50%);
}

.bg-electric-guitar>img {
	width: 25%;
	/* border: 5px solid #0f0f10; */
	position: absolute;
	top: -25%;
	left: 35%;
	transform: translate(0, -50%);
}

.audio-container {
	display: flex;
	justify-content: center;
	align-items: center
}